*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar{
	width:10px;
}
::-webkit-scrollbar-track{
	width:10px;
	background-color: #5db019;
}
::-webkit-scrollbar-thumb{
	width: 10px;
	background-color: #b0b8b3;
	border-radius: 3px ;
}
body{
	background-color: #1ba14e;
	font-family: arial;
}
.top-part{
	position: relative;
	background: url(images/background.jpg) no-repeat center center/cover fixed;
	height: 100vh;
	box-sizing: border-box;
	border-bottom: 10px solid #332f2f;
}
.top-part::after{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: black;
	opacity: 0.6;
}
span{
	position: relative;
	top:-50px;
	left: 30px;
	display: block;
	width:30px;
	height:5px;
	background-color: #fff;
	z-index: 3;
	margin: 4.5px 0px;
}

span:hover{
	cursor:pointer;
}

.span2{
	position: relative;
	top:-50px;
	left: 30px;
	display: block;
	width:45px;
	height:5px;
	background-color: #fff;
	z-index: 3;
	margin: 4.5px 0px;
	animation-name: growtwo;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

@keyframes growtwo{
	20%{
		width: 50px;
	}
	50%{
		width:70px;
	}
	80%{
		width:100px;
	}

}
.span3{
	position: relative;
	top:-50px;
	left: 30px;
	display: block;
	width:58px;
	height:5px;
	background-color: #fff;
	z-index: 3;
	margin: 4.5px 0px;
	animation-name: growagain;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes growagain{
 20%{
		width: 50px;
	}
	50%{
		width:70px;
	}
	80%{
		width:100px;
	}
}
.logo{
	position: relative;
	height: 100px;
}
.logo img{
	position: absolute;
	width: 200px;
	top:56%;
	left:49%;
	transform: translate(-50%,-50%);
    z-index: 2;
}
.logo a{
	position: absolute;
	top:40%;
	list-style: none;
	text-decoration: none;
	right:0%;
	margin-right: 40px;
	color:#fff;
	background-color: #5db019;
	border:.5px solid #5db019;
	padding: 8px;
	font-weight:bold;
	transition: 0.1s;
	z-index: 2;
}
.logo a:hover{
	background-color: #22e6c5;
}
.trial h1{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 3rem;
	color: #fff;
	text-align: center;
	z-index: 2;
	animation-name: trial;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: 3;
}

@keyframes trial{
	0%{
		color: #fff
	}
	40%{
		color:#ddd;
	}
	70%{
		color:#8c918d;
	}
}
.trial h1::after{
	content: '25000+ certified shops, at your tips';
	font-size:1.45rem;
	word-spacing: 0.6rem;
}
.buy-icon{
	position: absolute;
	top:72%;
	left: 54%;
    transform: translate(-72%,-55%);
    z-index: 2;
    border:1.5px solid maroon;
}
.buy-icon a{
	text-decoration: none;
	font-size: 1.5rem;
	color: #fff;
	background-color: #5db019;
	padding: 1rem;
	 font-weight: bold;
    transition: .3s ;
}
.buy-icon a:hover{
	background-color: #22e6c5;
 
}
.dta1{
	height:73vh;
    border-bottom: 10px solid #00bf43;
    position: relative;
}
.dta1 h1{
	position: absolute;
	color: white;
	font-size:3rem;
	top:100px;
	left:100px;
}
.dta1 p{
	position: absolute;
	color: #fff;
		top:170px;
	left:100px;
	font-size:1.5rem;
	line-height: 2rem;
}
.dta1 a{
	position: absolute;
	left:100px;
	top:280px;
     text-decoration: none;
	font-size: 1.5rem;
	color: #fff;
	padding: 1rem;
	 font-weight: bold;
  border:1px solid #fff;
   border-radius: 5px;
}
.dta1 img{
	height:260px;
	width:300px;
	float: right;
	margin-top:95px;
	margin-right: 160px;
}
.dta2{
	height:73vh;
    border-bottom: 10px solid #00bf43;
    position: relative;
}
.dta2 h1{
	position: absolute;
	color: white;
	font-size:3rem;
	top:100px;
	left:750px;
}
.dta2 p{
	position: absolute;
	color: #fff;
		top:180px;
	left:750px;
	font-size:1.5rem;
	line-height: 2rem;
}
.dta2 a{
	position: absolute;
	left:750px;
	top:270px;
     text-decoration: none;
	font-size: 1.5rem;
	color: #fff;
	padding: 1rem;
	 font-weight: bold;
  border:1px solid #fff;
   border-radius: 5px;
}
.dta2 img{
	height:320px;
	width:auto;
	float: left;
	margin-top:65px;
	margin-left: 80px;
	border:4px inset black;
}
.dta3{
	height:73vh;
    /*border-bottom: 10px solid #00bf43;*/
    position: relative;
}
.dta3 h1{
	position: absolute;
	color: white;
	font-size:3rem;
	top:100px;
	left:130px;
}
.dta3 p{
	position: absolute;
	color: #fff;
		top:170px;
	left:130px;
	font-size:1.5rem;
	line-height: 2rem;
}
.dta3 a{
	position: absolute;
	left:130px;
	top:240px;
     text-decoration: none;
	font-size: 1.5rem;
	color: #fff;
	padding: 1rem;
	 font-weight: bold;
  border:1px solid #fff;
   border-radius: 5px;
}
.dta3 img{
	height:320px;
	width:auto;
	float: right;
	margin-top:65px;
	margin-right: 110px;
	border:4px inset black;
}
footer{
	color: #a0a1a3;
	position: relative;
}
footer h1{
text-align: center;
	margin-top:30px;
	font-size: 1rem;
}
footer ul{
text-align: center;
	margin-top: 5px;
	list-style-type: none;
	margin-bottom: 20px;
}
ul li{
	padding: 5px;
}
ul li:hover{
	text-decoration: underline;
	cursor: pointer;
}